torch==2.8.0
torchvision==0.23.0
ultralytics==8.3.201
opencv-python<4.10
opencv-python-headless<4.10
pillow==11.0.0
numpy==1.26.4
matplotlib==3.10.6
albumentations==2.0.8
packaging==25.0
streamlit==1.49.1
requests==2.32.5
